PS2:Perform the following operations on Age-Income dataset (Age-Income-Dataset.csv) 
Provide summary statistics (mean, median, minimum, maximum, standard deviation) for numeric variables with and 
without using any library functions. 
Provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each 
response to the categorical variable.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Age-Income-Dataset.csv')
df.head(5)

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [3]:
df.describe()

             Income
count     50.000000
mean   50966.000000
std    21096.683268
min    15000.000000
25%    33475.000000
50%    46850.000000
75%    65400.000000
max    93000.000000

In [4]:
df.isnull().sum()

Age       0
Income    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     50 non-null     object
 1   Income  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 928.0+ bytes

In [6]:
### MEAN

In [7]:
def mean_f(df):
    for col in df.columns:
        if df[col].dtype != 'O':
            temp = 0
            for i in df[col]:
                temp = temp +i
            print("Without Library -> ")
            print("Average of {} is {}".format(col,(temp/len(df[col]))))
            print()
            print("With Libreary -> ")
            print(df[col].mean())

mean_f(df)

Without Library ->
Average of Income is 50966.0

With Libreary ->
50966.0

In [8]:
def median_f(df):
    for col in df.columns:
        if df[col].dtype != 'O':
            sorted_data = sorted(df[col])
            n = len(df[col])
            if n%2 == 0:
                x1 =sorted_data[int((n/2))]
                x2 =sorted_data[int((n/2))+1]
                median=(x1+x2)/2
            else:
                median = sorted_data[(n+1)/2]
    print("Median without library ->")
    print("Median of {} is {} ".format(col,median))
    print("Median with library ->")
    print(df[col].median())             
median_f(df)

Median without library ->
Median of Income is 49850.0
Median with library ->
46850.0

In [9]:
def min_f(df):
    for col in df.columns:
        if df[col].dtype != "O":
            sorted_data = sorted(df[col])
            min = sorted_data[0]
            print("Without Library->",min)
            print("With Library->",df[col].min())
    
min_f(df)

Without Library-> 15000
With Library-> 15000

In [12]:
def max_f(df):
    for col in df.columns:
        if df[col].dtype != "O":
            sorted_data = sorted(df[col])
            min = sorted_data[len(df[col])-1]
            print("Without Library->",min)
            print("With Library->",df[col].max())
    
max_f(df)

Without Library-> 93000
With Library-> 93000

In [13]:
import math
def std_f(df):
    for col in df.columns:
        if len(df[col]) == 0:
            print("Column is empty")
        if df[col].dtype != 'O':
            sum = 0
            mean = df[col].mean()
            for i in df[col]:
                sum = sum + (i - mean)**2
                
            std = math.sqrt(sum/len(df[col]))
            print("Without Library ->")
            print("Std : " , std)
            print("With Library: ->")
            print("Std : {}".format(np.std(df[col])))            ##ddof = 1
                
std_f(df)

Without Library ->
Std :  20884.6509187968
With Library: ->
Std : 20884.6509187968

In [14]:
df.groupby("Age")["Income"].mean()

Age
Middle Age    52453.333333
Old           53942.105263
Young         46037.500000
Name: Income, dtype: float64

In [15]:
df.groupby("Age")["Income"].median()

Age
Middle Age    53200.0
Old           45300.0
Young         41500.0
Name: Income, dtype: float64

In [32]:
df.groupby("Age")["Income"].count()

Age
Middle Age    15
Old           19
Young         16
Name: Income, dtype: int64

In [33]:
df.groupby("Age")["Income"].std()

Age
Middle Age    20497.800114
Old           20868.165968
Young         22356.859499
Name: Income, dtype: float64

In [34]:
df.groupby("Age")["Income"].min()

Age
Middle Age    25600
Old           24500
Young         15000
Name: Income, dtype: int64

In [35]:
df.groupby("Age")["Income"].max()

Age
Middle Age    93000
Old           89700
Young         87000
Name: Income, dtype: int64

In [41]:
data = df.copy()

mean_all = data.groupby('Age')['Income'].mean()
std_all = data.groupby('Age')['Income'].std()
min_all = data.groupby('Age')['Income'].min()
max_all = data.groupby('Age')['Income'].max()
median_all = data.groupby('Age')['Income'].median()

mean_all

Age
Middle Age    52453.333333
Old           53942.105263
Young         46037.500000
Name: Income, dtype: float64

In [42]:

info = []

for i in [0,1,2]:
    temp = []
    temp.append('Mean : {}'.format(mean_all.iloc[i]))
    temp.append('Standard Deviation : {}'.format(std_all.iloc[i]))
    temp.append('Minimum : {}'.format(min_all.iloc[i]))
    temp.append('Maximum : {}'.format(max_all.iloc[i]))
    temp.append('Median : {}'.format(median_all.iloc[i]))
    info.append(temp)
    
info

[['Mean : 52453.333333333336',
  'Standard Deviation : 20497.800114251517',
  'Minimum : 25600',
  'Maximum : 93000',
  'Median : 53200.0'],
 ['Mean : 53942.10526315789',
  'Standard Deviation : 20868.165968220423',
  'Minimum : 24500',
  'Maximum : 89700',
  'Median : 45300.0'],
 ['Mean : 46037.5',
  'Standard Deviation : 22356.859499193233',
  'Minimum : 15000',
  'Maximum : 87000',
  'Median : 41500.0']]

In [43]:
diff_categories=['Middle Age','Old','Young']
for i in [0,1,2]:
    print('*****Statistics of {}*****'.format(diff_categories[i]))
    for i in info[i]:
        print(i)
    
    print('-------------------------------------------------------')

*****Statistics of Middle Age*****
Mean : 52453.333333333336
Standard Deviation : 20497.800114251517
Minimum : 25600
Maximum : 93000
Median : 53200.0
-------------------------------------------------------
*****Statistics of Old*****
Mean : 53942.10526315789
Standard Deviation : 20868.165968220423
Minimum : 24500
Maximum : 89700
Median : 45300.0
-------------------------------------------------------
*****Statistics of Young*****
Mean : 46037.5
Standard Deviation : 22356.859499193233
Minimum : 15000
Maximum : 87000
Median : 41500.0
-------------------------------------------------------

In [44]:
def calMode(df):
    for col in df.columns:
        if df[col].dtype == 'O':
            arr = df[col].sort_values()

            prevcnt = 0
            cnt = 0
            ans = arr[0]
            temp = arr[0]

            for i in arr:
                if(temp == i) :
                    cnt += 1
                else:
                    prevcnt = cnt
                    cnt = 1
                    temp = i
                if(cnt > prevcnt):
                    ans = i
            
            print("Without Library -> ")
            print("Mode of {} is {}".format(col,ans))
            print()
            print("With Library -> ")
            print(df[col].mode())